.main__center {
  display: flex;
  flex-direction: column;
}

.main__center-slider {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  padding: var(--top-gap) 32px 32px;
}

.main__center-navbar {
  display: flex;
  justify-content: space-between;

  margin: auto 12px 12px;
  padding: 16px 18px;
  border-radius: 30px;
  backdrop-filter: blur(40px);
  background: rgba(245, 245, 245, 0.5);
}