
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'SF Pro Display';
}

body {
  height: 100vh;
  background: #222;
  user-select: none;
  overflow-y: hidden;
}

button {
  all: unset;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}