

:root {
	--color-black: #000;
	--color-white: #fff;


	--top-gap: 70px;
	--open-screen-transition: .5s opacity;
}

@media(prefers-color-scheme: dark){
	:root {
		--root-background: #0D0D0D;
	}
}

@media(prefers-color-scheme: light){
	:root {
		--root-background: #f9f9f9;
	}
}